{
  "extends": "eslint:all",
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "it": true,
    "require": true,
    "__dirname": true,
    "expect": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "no-underscore-dangle": 0,
    "no-negated-condition": 0,
    "no-func-assign": 0,
    "complexity": 0,
    "no-ternary": 0,
    "multiline-ternary": 0,
    "no-unused-expressions": 0,
    "max-lines": 0,
    "no-else-return": 0,
    "max-statements": 0,
    "yoda": 0,
    "no-mixed-operators": 0,
    "no-trailing-spaces": 0,
    "arrow-parens": 0,
    "no-undefined": 0,
    "object-curly-newline": 0,
    "max-len": ["error", 90],
    "arrow-body-style": ["error", "always"],
    "no-magic-numbers": 0,
    "no-use-before-define": 0,
    "no-inline-comments": 0,
    "line-comment-position": 0,
    "default-case": 0,
    "no-case-declarations": 0,
    "no-extra-parens": 0,
    "object-property-newline": 0,
    "no-param-reassign": 0,
    "no-duplicate-imports": 0,
    "no-warning-comments": 0,
    "no-sync": 0,
    "sort-keys": 0,
    "comma-dangle": ["error", "always-multiline"],
    "quote-props": 0,
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "require-jsdoc": 0,
    "init-declarations": 0,
    "one-var": 0,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "class-methods-use-this": 0,
    "indent": [0,2],
    "space-before-function-paren": ["error", "never"],
    "padded-blocks": ["error", "never"],
    "no-console": 0,
    "newline-after-var": 0,
    "newline-before-return": 0,
    "id-length": 0,
    "sort-imports": 0,
    "keyword-spacing": ["error", { "before": true, "after": true }]
  }
}